
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>Videos</h1>
    <p>Annual day function</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IppNbGldJnE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p>Assembly function</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/S-KO2xynSN4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p>Convocation day function</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Zb30Dv0txyI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Speech</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AgfT53NldSs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</head>
<body>
    <div> 
    </div>
</body>
</html>
